<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='grafico.css')}}" />
    <title>Analisis</title>
</head>
<body>
    <div id="content">
        <div class="container text1">
            <span style="--l: 'G'">G</span>
            <span style="--l: 'R'">R</span>
            <span style="--l: 'A'">A</span>
            <span style="--l: 'F'">F</span>
            <span style="--l: 'I'">I</span>
            <span style="--l: 'C'">C</span>
            <span style="--l: 'O'">O</span>
        </div>
    </div>
    <img src="{{ url_for('static', filename='grafico.png') }}" alt="Gráfico">
    <a href="{{url_for('menu')}}">
        <button>
            <span></span>
            <span></span>
            <span></span>
            <span></span>VOLVER
        </button>
    </a>
</body>
</html>