<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='resultado.css')}}">

    <title>Respuesta</title>
</head>
<body>
    {%if respuesta == True%}
    <div id="content">
      <div class="container text2">
          <span style="--l: 'C'">C</span>
          <span style="--l: 'O'">O</span>
          <span style="--l: 'R'">R</span>
          <span style="--l: 'R'">R</span>
          <span style="--l: 'E'">E</span>
          <span style="--l: 'C'">C</span>
          <span style="--l: 'T'">T</span>
          <span style="--l: 'O'">O</span>
      </div>
    </div>
    <audio id="hidden-audio" autoplay>
        <source src="static/correcto.mp3" type="audio/mpeg">
        <source src="static/correcto.wav" type="audio/wav">
      </audio>
    {%else%}
    <div id="content">
      <div class="container text1">
          <span style="--l: 'I'">I</span>
          <span style="--l: 'N'">N</span>
          <span style="--l: 'C'">C</span>
          <span style="--l: 'O'">O</span>
          <span style="--l: 'R'">R</span>
          <span style="--l: 'R'">R</span>
          <span style="--l: 'E'">E</span>
          <span style="--l: 'C'">C</span>
          <span style="--l: 'T'">T</span>
          <span style="--l: 'O'">O</span>
      </div>
    </div>
    <p>La respuesta correcta es {{opcion}}</p>
    <audio id="hidden-audio" autoplay>
        <source src="static/incorrecto.mp3" type="audio/mpeg">
        <source src="static/incorrecto.wav" type="audio/wav">
      </audio>
    {%endif%}
    <div class="content">
      <a href="{{ url_for('results') }}">
        <button>
          <span></span>
          <span></span>
          <span></span>
          <span></span>Siguiente pregunta
        </button>
      </a>
    </div>
</body>
</html>